.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid blue;
  .leftSection {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    .logoName {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #5a67ba;
      color: white;
      font-size: 16px;
      font-weight: 800;
    }
    .projectName {
      color: #5a67ba;
      font-size: 16px;
      font-weight: 800;
    }
  }
  .middleSection {
    .search {
      outline: none;
      background-color: #f6f6fb;
      padding: 10px;
      width: 800px;
      font-size: 16px;
    }
  }
  .notification {
    &:hover {
      cursor: pointer;
    }
  }
}
